#DB
PSQL_DATABASE_BLOG_URL="postgresql://postgres:123456@localhost:5432/blog?schema=public"
#应用
APP_HOST=127.0.0.1
APP_PREFIX=api
APP_PORT=3100
APP_TIMEZONE=Asia/Shanghai
APP_LOCAL=zh-cn
SERVER_PUBLIC_URL = http://example.com
APP_PREFIX=api 
#Github OAuth 
GITHUB_CLIENT_ID=3xxxxxxxxxx
GITHUB_CLIENT_SECRET=dxxxxxxxxxxxx
SUPER_ADMIN_EMAIL=example@gmail.com
#用户token 过期时间
USER_TOKEN_EXPIRED=60
# NestJs 部署地址
SERVER_PUBLIC_URL=https://densewillow.com
#next 部署地址
NEXT_PUBLIC_SITE_URL=http://192.168.80.6:4200
#用于刷新Next.js cache
REVALIDATE_TOKEN=123456aA$