#DB
DATABASE_BLOG_URL="mongodb://user:pwd@localhost:27017/db"
#应用
APP_HOST=127.0.0.1
APP_PREFIX=api
APP_PORT=3000
APP_SSL=false
APP_TIMEZONE=Asia/Shanghai
APP_LOCAL=zh-cn
SERVER_BASE_URL = http://example.com
APP_PREFIX=api 
GITHUB_CLIENT_ID=3
GITHUB_CLIENT_SECRET=d
SUPER_ADMIN_EMAIL=example@gmail.com