@tailwind base;
@tailwind components;
@tailwind utilities;
.ProseMirror p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}
/*custom scroll css*/
.custom-scroll-bar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Handle */
.custom-scroll-bar::-webkit-scrollbar-thumb {
    background: rgb(202, 181, 226);
}


@layer utilities {
  .rich-text h2 {
    @apply mb-3 text-3xl font-semibold text-neutral-900;
  }

  .rich-text h3 {
    @apply mb-3 text-2xl font-semibold text-neutral-900;
  }

  .rich-text p {
    @apply mb-3 leading-snug text-neutral-700;
  }
}
