@tailwind base;
@tailwind components;
@tailwind utilities;
.ProseMirror p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}
/*custom scroll css*/
.custom-scroll-bar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Handle */
.custom-scroll-bar::-webkit-scrollbar-thumb {
    background: rgb(202, 181, 226);
}



@layer base {
  * {
    color: #fff;
  }
  .container {
    @apply 2xl:max-w-[1200px];
  }
  body {
    @apply bg-dark_bg font-ubuntu
  }
  h1, h2, h4, h5, h6 {
    @apply font-playfairDisplay; 
  }

  h1 {
    @apply text-4xl md:text-5xl font-bold;
  }

  h2 {
    @apply text-xl md:text-2xl font-bold;
  }
  
  h3 {
    @apply font-ubuntu text-lg font-normal;
  }

  h4 {
    @apply text-xl font-bold
  }

  p {
    @apply font-ubuntu  leading-[175%]; 
  }
}
@layer utilities {
  .rich-text h2 {
    @apply mb-3 text-3xl font-semibold text-neutral-900 dark:text-neutral-100;
  }

  .rich-text h3 {
    @apply mb-3 text-2xl font-semibold text-neutral-900 dark:text-neutral-100;
  }

  .rich-text p {
    @apply mb-3 leading-snug text-neutral-700 dark:text-neutral-300;
  }

  .btn-custom-base{
      @apply inline-block relative  no-underline text-primary z-[1] overflow-hidden transition-all duration-[0.3s] px-[52px] py-[10px] rounded-[8px] before:content-[''] before:bg-primary before:absolute before:w-[100px] before:h-[100px] before:opacity-30 before:-translate-x-2/4 before:-translate-y-2/4 before:z-[-1] before:transition-all before:duration-[0.3s] before:rounded-[50%] before:scale-0 before:left-2/4 before:top-2/4 hover:text-white hover:before:-translate-x-2/4 hover:before:-translate-y-2/4 hover:before:scale-[2];
  }
  
  .header-has-bg {
     @apply relative inline-flex;
  }
  .header-has-bg img {
     @apply absolute left-[-13] top-[-4] md:left-[-72px] md:top-[15px];
  }

  .header-custom {
      @apply relative text-center before:content-[""] before:absolute before:w-full before:h-[2px] before:-translate-y-2/4 before:z-[-1] before:left-0 before:top-2/4 before:bg-secondary-dark
  }

  .rate-span {
      @apply relative flex w-[15px] h-[15px] mr-[12px] before:absolute before:content-[""] before:w-[15px] before:h-[15px] before:rounded before:rotate-[40deg] before:bg-primary  after:absolute after:content-[""] after:w-[15px] after:h-[15px] after:rounded after:rotate-[50deg] after:bg-primary
  }
  .web-skill {
      @apply relative text-center z-[1] overflow-hidden mb-4 px-2 py-8 rounded-lg bg-secondary-dark before:absolute before:content-[""] before:w-full before:h-full before:z-[-1] before:translate-x-full before:-translate-y-full before:transition-all before:duration-[0.6s] before:rounded-lg before:left-0 before:top-0 before:bg-[#0b2c80] after:absolute after:content-[""] after:w-full after:h-full after:z-[-1] after:-translate-x-full after:translate-y-full after:transition-all after:duration-[0.6s] after:rounded-lg after:left-0 after:top-0 after:bg-[#0b2c80] hover:before:translate-x-0 hover:before:translate-y-0 hover:after:translate-x-0 hover:after:translate-y-0
  }

  .resume-item-icon {
      @apply min-w-[46px] min-h-[46px] absolute -translate-y-2/4 left-[-23px] z-[2] mt-0 top-2/4 md:relative md:translate-x-0 md:left-0 md:z-[1] md:mt-[23px] md:top-0 flex justify-center items-center w-[46px] h-[46px] text-lg transition-all duration-[0.3s] mr-[46px]  rounded-[50%] bg-[#1e1e20bf] md:bg-[#ffffff0d] before:content-[""] before:absolute before:w-[1px] before:h-[126px] before:transition-all before:duration-[0.3s] before:top-[82px] before:bg-secondary-dark before:hidden md:before:flex group-hover:bg-[#0b2c8066] group-hover:before:bg-[#0b2c8066]
  }

   .resume-item-box {
      @apply relative grow text-left z-[1] transition-all duration-[0.3s] p-8 rounded-lg bg-[#1e1e20bf] before:hidden md:before:flex before:content-[""] before:absolute  before:border-r-[9px] before:border-r-[#1e1e20bf] before:border-y-[9px] before:border-y-transparent before:border-solid before:top-9 before:left-[-9px] after:content-[""] after:absolute after:w-0 after:h-full after:z-[-1] after:transition-all after:duration-[0.3s] after:rounded-lg after:left-0 after:top-0 after:bg-[#0b2c8066] group-hover:bg-transparent group-hover:before:border-r-[#0b2c8066] group-hover:after:w-full
  }

  .work-item-wrap {
      @apply relative overflow-hidden before:content-[""] before:absolute before:w-full before:h-full before:z-[1] before:cursor-pointer before:rotate-[-100deg] before:origin-top-left before:transition-all before:duration-[0.3s] before:rounded-lg before:bg-[#658df299]  after:content-["View"] after:absolute after:w-[96%] after:h-[95%] after:origin-bottom-left after:-translate-x-2/4 after:-translate-y-2/4 after:rotate-[100deg] after:flex after:justify-center after:items-center after:text-2xl after:tracking-[3px] after:z-[2] after:cursor-pointer after:transition-all after:duration-[0.3s] after:rounded-lg after:left-2/4 after:top-2/4 after:bg-[#151516cc] hover:before:rotate-0 hover:after:-translate-x-2/4 hover:after:-translate-y-2/4 hover:after:rotate-0

  }

  .contact-form-item {
       @apply relative mb-8 before:content-[""] before:absolute before:h-0.5 before:w-full before:left-0 before:bottom-0 before:bg-secondary_gray after:content-[""] after:absolute after:h-0.5 after:w-0 after:transition-all after:duration-[0.3s] after:left-0 after:bottom-0 after:bg-white
  }

  .contact-form-item label {
        @apply absolute text-secondary_gray transition-all duration-[0.3s] 
  }

  .contact-form-item input,textarea{
        @apply w-full px-0 py-4 border-[none] bg-transparent outline-none
  }

}

